* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

header div {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 16px;
}

main {
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 800px;
  padding: 20px;
  background-color: brown;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.bloco-1 {
  width: 120px;
  height: 120px;
  background-color: blue;
  order: 1;
}
.bloco-2 {
  width: 160px;
  height: 160px;
  background-color: blue;
  order: 3;
}
.bloco-3 {
  width: 200px;
  height: 200px;
  background-color: blue;
  order: 2;
}
