main{
    width: 600px;
    height: 600px;
    background-color: brown;
    /* position: static; posição padrão */
    position: relative;
    top: 100px;
    left: 100px;
}

.primeira{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    right: 0;
    bottom: 0;
}
.segunda{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
}